* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  /* font-family: "Courier Prime", monospace;*/
  /* font-family: "Share Tech Mono", monospace;*/
}

body {
  background-color: rgb(197, 204, 247);
  margin-bottom: 40px;
}

/*Card with printing slit*/
.card {
  /*border: 3px solid rgba(32, 31, 34, 0.406);*/
  /*background-color: rgb(224, 204, 244);*/
  /*background-color: rgb(197, 204, 247);*/
  position: relative;
  background-color: white;
  width: 390px;
  block-size: fit-content;
  margin: 60px auto;
  margin-bottom: -5px;
  box-shadow: 5px 5px 30px 5px rgb(84, 82, 84);
  color: black;
  padding: 15px;
  padding-bottom: 0px;
  transition: 0.3s;
  perspective: 1000px;
}

.printing-slit {
  background-color: black;
  height: 25px;
  max-width: 450px;
  margin: -13px auto 0 auto;
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

/*Styling headings & a*/
h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  margin-bottom: 3px;
}

h3.blackBanner {
  padding: 0px 5px;
}

h4 {
  font-family: "Libre Barcode 128 Text", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  text-align: center;
  padding: 20px 0px 50px 0px;
}

h5 {
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 20px;
}

h6 {
  font-size: 30px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  font-size: 12px;
}

/*Added styles*/
.blackBanner {
  color: white;
  background-color: black;
}

.circledTitle {
  border: 1px solid black;
  border-radius: 50%;
  width: fit-content;
  padding: 5px;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

/*display dotted line next to text*/
.textLine {
  display: flex;
  align-items: center;
}

.textLine:hover {
  color: blue;
  cursor: pointer;
  font-style: oblique;
}

.textLine::after {
  content: "";
  border-bottom: 1px dotted black;
  flex: 1;
  margin-left: 10px;
}

/*dotted underline*/
.dotted-line {
  border-bottom: 1px dotted rgb(0, 0, 0);
  padding: 20px 0px;
}

/*dotted over- & underline*/
.dotted-line2 {
  border-bottom: 1px dotted rgb(0, 0, 0);
  border-top: 1px dotted rgb(0, 0, 0);
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px 0px;
}

/*styles for images*/
.main-image img {
  width: 100%;
  display: block;
}

img {
  filter: grayscale(100%) brightness(1.2) contrast(1.2);
}

/*Containers*/
.iconDateContainer {
  display: flex;
  justify-content: space-between;
}

.ingredientsContainer {
  margin: 20px 0px;
}

.chosenIngredientContainer {
  display: flex;
  justify-content: space-between;
}

.cocktailContainer {
  display: block;
}

/*buttons*/
/* Filter button*/
.filter {
  border: none;
  background-color: black;
  color: white;
}

.filter:hover {
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  padding: 3px 5px;
}

/* Button to change Style */
.changeStyle {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0px 5px;
  transition: 0.2s;
  cursor: pointer;
  margin: 10px;
  background-color: rgb(255, 255, 255);
}

.changeStyle:hover {
  background-color: black;
  color: white;
}

/*Button to start recommendation animation */
.printbutton {
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px 20px;
  background-color: black;
  transition: 0.2s;
  cursor: pointer;

  .material-symbols-outlined {
    color: rgb(255, 255, 255);
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }
}

.printbutton:hover {
  background-color: rgb(255, 255, 255);
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    color: rgb(0, 0, 0);
  }
}

/*added texture*/
.receiptTexture {
  /*mix-blend-mode: difference;*/
  background-blend-mode: multiply;
  background-image: url("./images/texture2.jpg");
}

.receiptTexture2 {
  /*mix-blend-mode: difference;*/
  mix-blend-mode: difference;
  background-image: url("./images/texture.jpg");
  background-color: black;
}

/*Animations*/
/* Animation recommendation */
.hidden {
  max-height: 0;
  overflow: hidden;
}

@keyframes print {
  from {
    max-height: 0;
  }
  to {
    max-height: 2000px;
  }
}

.print {
  animation: print 25s ease forwards;
}

/* Animation Filter */
.hidden2 {
  max-height: 0;
  overflow: hidden;
}

@keyframes print2 {
  from {
    max-height: 0;
  }
  to {
    max-height: 2000px;
  }
}

.print2 {
  animation: print2 25s ease forwards;
}
